
*.exe
*.fasta
*.dll
*.bat
*.pl
*.1
*.rb
*.ps1
*.bed
*.0
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.nex
*.biopython
*.reduced
*.gz
*.mat
*.clw
*.msl
*.phy
*.phy2
*.cpp
*.h
*.o
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/AUTHORS
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/CHANGELOG
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/dataset/fileset1
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/dataset/fileset2
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/dataset/fileset3
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/LICENSE
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/README
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/source/makefile
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/source/readal
Bioinformatics_with_Python/Chapter_7_Phylogenetics/trimAl/source/trimal
